@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700;900&display=swap");

body {
  padding: 6px;
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-color);
}

:root {
  --font-color: #f1f1f1;
  --secondary-color: #1e1e1e;
  --primary-color: #121212;
  --action-color: #18181b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--font-color);
}
h2 {
  padding: 4px 0;
}

p {
  padding: 8px 0;
}

h1 {
  font-weight: 500;
  margin-top: 28px;
}

h2 {
  font-weight: 300;
  font-size: large;
}

input {
  color: var(--font-color);
  background-color: #1e293b;
  border: none;
  font-size: large;
  border-radius: 8px;
  width: 100%;
  padding: 8px;
  margin: 12px auto;
}
