h1 {
  font-weight: 500;
  margin-top: 28px;
}

h2 {
  font-weight: 300;
  font-size: large;
}

.buttons-section {
  display: flex;
}

.wait-button {
  background-color: #ff494a;
  display: flex;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 64px;
}
